/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #cce3e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

/* Quiz container */
#auth-section, #quiz-section {
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Form input styling */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Buttons */
button {
    background-color: #387478;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:hover {
    background-color: black;
    color: white;
}

/* Correct/Incorrect feedback */
.correct {
    background-color: #d4edda;
    color: #23903c;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #b9d5c0;
}

.incorrect {
    background-color: #f8d7da;
    color: #9b2c37;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #f0e5e6;
}

/* Progress bar styling */
#progress-bar {
    margin-top: 20px;
    text-align: center;
}